
  .outer-box {
    display: block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;

  }
  
  .inner-box {
    display: flex;
    padding: 12px;
    max-width: 300px;
    width: 100%;
  }
  .avatar {
    margin-right: 10px;
  }
  
  .avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .title h2 {
    margin: 0;
    margin-right: 10px;
    font-size: 1.0rem;
    font-weight: 500;
    color: #333333;
  }
  
  .logout {
    cursor: pointer;
    border: none;
    margin-left: 10px;
    font-size: 1.5rem;
  }
  .btn-box{
    text-align: center;
  }
  .login {
    border: none;
    padding: 12px 16px;
    gap: 12px;
    width: 342px;
    height: 48px;
    background: linear-gradient(261.83deg, #D82129 0%, #F36D27 100%);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  